* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Lato', sans-serif;
}

form {
  max-width: 768px;
  margin: 0 auto;
  padding: 0 5px;
}

form input {
  width: 100%;
  font-size: 20px;
  padding: 10px 0;
  border: 0;
  outline: none;
  margin: 10px 0;
}

form input[type=text] {
  text-indent: 10px;
  background-color: #2c3e50;
  color: #fff;
}

form input[type=text]::-webkit-input-placeholder {
  color: white;
  opacity: 0.7;
}

form input[type=text]:-ms-input-placeholder {
  color: white;
  opacity: 0.7;
}

form input[type=text]::-ms-input-placeholder {
  color: white;
  opacity: 0.7;
}

form input[type=text]::placeholder {
  color: white;
  opacity: 0.7;
}

form input[type=submit] {
  text-transform: uppercase;
  margin-top: -5px;
  background: -webkit-gradient(linear, left top, right top, from(#11998e), to(#38ef7d));
  background: linear-gradient(to right, #11998e, #38ef7d);
  cursor: pointer;
}

.task {
  max-width: 768px;
  margin: 0 auto;
  padding: 0 5px;
  margin-top: 20px 0;
}

.task h1 {
  text-transform: uppercase;
  text-align: center;
}

.task h1::after {
  content: '';
  background: -webkit-gradient(linear, left top, right top, from(#11998e), to(#38ef7d));
  background: linear-gradient(to right, #11998e, #38ef7d);
  width: 100px;
  height: 4px;
  display: block;
  margin: 10px auto 20px;
}

.task-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  grid-gap: 15px;
}

.task-container_item {
  background-color: #ebebeb;
  padding: 10px 15px;
}

.task-container_item .item-name {
  font-size: 25px;
}

.task-container_item .item-tools {
  padding: 50px 0;
  display: block;
}

.task-container_item .item-tools_status {
  display: block;
  margin: 10px 0;
  color: #4d4d4d;
}

.task-container_item .item-tools_edit {
  display: inline-block;
  font-size: 16px;
  border-radius: 5px;
  outline: none;
  border: 0;
  padding: 4px 10px;
  margin: 10px 10px 5px 0;
  cursor: pointer;
  background-color: #38ef7d;
}

.task-container_item .item-tools_remove {
  display: inline-block;
  font-size: 16px;
  border-radius: 5px;
  outline: none;
  border: 0;
  padding: 4px 10px;
  margin: 10px 10px 5px 0;
  cursor: pointer;
  background-color: #16c7b9;
}
